<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/DBstyle.css">
</head>
<body>
    <div class="container">
        <nav class="header">
            <div class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1200px-Netflix_2015_logo.svg.png" alt="Netflix Logo">
            </div>
            <div class="nav">
                <a href="#" class="nav-item">Home</a>
                <a href="#" class="nav-item">TV Shows</a>
                <a href="#" class="nav-item">Movies</a>
                <a href="#" class="nav-item">New & Popular</a>
                <a href="#" class="nav-item">My List</a>
            </div>
        </nav>
        <div class="banner">
            <div class="banner-content">
                <h1>Stranger Things</h1>
                <p>#1 in TV Shows Today</p>
                <a href="https://www.youtube.com/watch?v=R1ZXOOLMJ8s">
                  <button>Watch Now</button>
                </a>
            </div>
        </div>
        <div class="categories">
            <!-- Categories content here -->
            <div class="category">
              <a href="https://youtu.be/T6l3mM7AWew?si=olI_zrBbNymbwBoS">
              <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/lAXONuqg41NwUMuzMiFvicDET9Y.jpg" alt="Red Notice Image">
            
              <h2>Red Notice</h2>
            </a>
          </div>
          <div class="category">
            <a href="https://www.youtube.com/watch?v=hA6hldpSTF8">
              <img src="https://www.movieposters.com/cdn/shop/products/108b520c55e3c9760f77a06110d6a73b_480x.progressive.jpg?v=1573652543" alt="Avengers Endgame">
              <h2>Avengers Endgame</h2>
            </a>
          </div>
          <div class="category">
            <a href="https://www.youtube.com/watch?v=65xa8TG2G8o">
              <img src="https://image.tmdb.org/t/p/original/4p3gJ9Ac0DfEyHf8mrbcmhUoby8.jpg" alt="Investing Anna Image">
              <h2>Investing Anna</h2>
            </a>
          </div>
          <div class="category">
            <a href="https://www.youtube.com/watch?v=4qXoR6MrVwg">
              <img src="https://resizing.flixster.com/SqI0w7Dye2lylh9se2yjq37rRIc=/206x305/v2/https://resizing.flixster.com/1AcYEZwIgbqBTnIjqlWGAbR1edI=/ems.cHJkLWVtcy1hc3NldHMvdHZzZXJpZXMvUlRUVjU1MjAzNS53ZWJw" alt="Mighty Bheem Image">
              <h2>Mighty Bheem</h2>
            </a>
          </div>
          <div class="category">
            <a href="https://www.youtube.com/watch?v=SOXWc32k4zA">
              <img src="https://www.movies-net.com/media/5/pk_70303496.jpg" alt="P.K Image">
              <h2>P.K</h2>
            </a>
          </div>
        </div>
    </div>
</body>
</html>


